<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.Close" set:type="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.Close.CloseRequest, Sitecore.Support.182954"/>
    </sitecore.experienceeditor.speak.requests>
  </sitecore>
</configuration>